body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin:100px;
}
.Post-LISA {
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    width: 500px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.Post-header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #dbdbdb;
    justify-content: space-between;
}
.fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.Name {
    font-weight: bold;
    color: #262626;
    flex-grow: 1;
}
.Post-image img {
    width: 100%;
    display: block;
    border-bottom: 1px solid #dbdbdb;
}
.Post-JENNIE {
    display: flex;
    padding: 10px 15px;
    font-size: 24px;
    justify-content: space-between;
}
.Post-JISOO {
    font-size: 14px;
    color: #262626;
}
.Post-ROSE {
    font-size: 14px;
    color: #262626;
}
.Titulo{
    display: flex;
}
.usuario{
    display: flex;
    flex-direction: column;
}
i {
    font-size: 40px;
}